extends layout

block content
  h1= title
  if errors 
        ul.register-errors
            for error in errors
                li.li-errors.animated.flash
                  i.material-icons error 
                  != error.msg
  div.biglist
    .row
      .col.s7.offset-s2
        table.responsive-table.centered
          thead
            tr
              th  Name
              th  Quantity
              th  Price
              th  Name
          tbody
              each  item, i  in  data.itemlist
                tr(class="tabler-" + (i+1))
                  td.itemname  #{item.name}
                  td.quan  #{item.quantity}
                  td.price  $#{item.price}
                  td
                    button.add(class="add-"+(i+1))
                        |   add
                td
                    |   #{user.name}
        form(action="/users/consumer",method="post" class="no-mt")
                        input(type="hidden" name="itemname" value="" class="ordernames")
                        input(type="hidden" name="quantity" value="1" placeholder="quantity")
                        input(type="hidden" name="totaldue" value="" placeholder="total due" class="tot")
                        input(type="hidden" name="username" value=user.name)
                        button.btn.btn-primary.btn-actions.sell(type='submit')
                          i.material-icons.green-text  shopping_basket
      
        
        
        ul.tabs(style="background:black")
          li.tab.col.s3
            a(href='#test1') Currently in Cart
          li.tab.col.s3
            a.active(href='#test2') Pending Orders
          li.tab.col.s3.disabled
            a(href='#test3') Disabled Tab
          li.tab.col.s3
            a(href='#test4') Test 4
        #test1.col.s12
          ul.orders
          div.tot
        #test2.col.s12
          each order in data.pending
            ul.pending
                li
                    |   #{order.name}
                form(action="/users/pending_delete",method="post" class="no-mt pending-form")
                        input(type="hidden" name="_id" value=order._id)
                        button.btn.btn-primary.btn-actions.sell(type='submit')  Cancel Order
                          i.material-icons.green-text  security1
        #test3.col.s12 Test 3
        #test4.col.s12 Test 4
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
  script(src="/javascripts/consumer.js")
  



