extends layout

block content
  h1= title
  div.biglist
    .row
      .col.s7.offset-s2
        table.responsive-table.centered
          thead
            tr
              th  Name
              th  Quantity
              th  Price
              th  Add to Cart
              th  Name
          tbody
              each  item, i  in  item_list
                tr(class="tabler-" + (i+1))
                  td.itemname  #{item.name}
                  td.quan  #{item.quantity}
                  td.price  $#{item.price}
                  td
                    form(action="/users/consumer",method="post" class="no-mt")
                        input(type="text" name="itemname" value=item.name)
                        input(type="hidden" name="quantity" value="1" placeholder="quantity")
                        input(type="hidden" name="totaldue" value=item.price placeholder="total due")
                        input(type="hidden" name="username" value=user.name)
                        button.btn.btn-primary.btn-actions.sell(type='submit')
                          i.material-icons.green-text  shopping_basket
                td
                    |   #{user.name}
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
  



