extends layout

block content
  h1= title
  div.biglist
    .row
      .col.s7.offset-s2
        table.responsive-table.centered
          thead
            tr
              th  Name
              th  Quantity
              th  Price
              th  Name
          tbody
              each  item, i  in  item_list
                tr(class="tabler-" + (i+1))
                  td.itemname  #{item.name}
                  td.quan  #{item.quantity}
                  td.price  $#{item.price}
                  td
                    button.add(class="add-"+(i+1))
                        |   add
                td
                    |   #{user.name}
        form(action="/users/consumer",method="post" class="no-mt")
                        input(type="text" name="itemname" value="" class="ordernames")
                        input(type="hidden" name="quantity" value="1" placeholder="quantity")
                        input(type="number" name="totaldue" value="" placeholder="total due" class="tot")
                        input(type="hidden" name="username" value=user.name)
                        button.btn.btn-primary.btn-actions.sell(type='submit')
                          i.material-icons.green-text  shopping_basket
        ul.orders
        div.tot
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
  script(src="/javascripts/consumer.js")
  



