extends layout

block content
  h1= title
  h3= hi
  p.highlight-color.center Logged in as #{user.username}.

  h3.highlight-color Inventory Overview

  if error
    p Error getting dynamic content.
  else
    p.center The Inventory has the following record counts:

    ul.overview
      .row
        .col.s6.l3.offset-l2
          .card.primary-reverse
            .card-content.highlight-color
              span.card-title.left-align Inventory Item Count
              li
                p.money
                  i.material-icons.highlight-color shopping_cart  
                p.num.count
                  | #{data.item_count}
        .col.s6.l3.offset-l2
          .card.primary-reverse
            .card-content.highlight-color
              span.card-title.left-align Weekly Sales Total
              li
                p.money
                  i.material-icons.highlight-color attach_money
                p.num.count
                    
                  if  data.item_total[0]  !=  null
                    | #{data.item_total[0].sum}
                  else
                    | 0
  script.
    $(function(){
      $('.count').each(function () {
      $(this).prop('Counter',0).animate({
        Counter: $(this).text()
      }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
      });
      });
      })

      
          