extends layout

block content
  h1= title
  a.btn-floating.btn-large.waves-effect.waves-light.middle-left.highlight-bg.white-text(href="/inventory/item/create" id="menu" style="display:none")
    i.material-icons.white-text add
  div.tap-target(data-activate="menu")
    div.tap-target-content
      h5
        | ok
      p
        | ok
  div.biglist(style="display:none")
    .row
      .col.s7.offset-s2
        table.centered.responsive-table
          thead
            tr
              th  Name
              th  Quantity
              th  Price
              th  Amount Sold
              th  Total Sold
              th  Delete
              th  Update
              th  Sell
          tbody
              each  item, i  in  item_list
                tr(class="tabler-" + (i+1)+ " table-row-style")
                  td.itemname #{item.name}
                  td.quan  #{item.quantity}
                  td.price  $#{item.price}
                  td.sold  #{item.soldupdate-1}
                  td.total  $#{item.totalupdate-item.price}
                  td.delete__button
                    div(class="item-" + (i+1))
                      input(type="hidden" name="_id" class="namedelete-" + (i+1) value=item._id)
                      button.delete.btn.btn-primary.btn-actions(type='submit' class="delete-" + (i+1))
                        i.material-icons.wild-text  delete
                      //input(type="text" class="namedelete-" + (i+1) value=item._id)
                  td.update__button
                      button(href="#modal1-" +(i+1) class="modal-trigger btn btn-primary btn-actions") 
                        i.material-icons.prim-text  update
                      div(id="modal1-" +(i+1) class="modal")
                        .modal-content
                          h4
                            | Update Item
                          p.highlight-color
                            //i.material-icons info
                            | You do not have to fill in the price if it has not changed.
                          form(action="/inventory/item/update", method="post")
                            input(type="hidden" name="itemname" value="#{item.name}")
                            input(type="number" name="quantity" value="" placeholder="quantity" required)
                            input(type="number" name="price" value=item.price placeholder="price" required)
                            input(type="hidden", name="_id" value=item._id)
                            button.update.btn.btn-primary(type='submit') update
                  td.sell__button
                      input(type="hidden" name="itemname" value=item.name)
                      input(type="hidden" name="quantity" value=item.quantityupdate placeholder="quantity")
                      input(type="hidden" name="price" value=item.price placeholder="price")
                      input(type="hidden", name="_id" value=item._id)
                      input(type="hidden",name="sold" value=item.soldupdate)
                      input(type="hidden" name="total" value=item.totalupdate)
                      button.btn.btn-primary.btn-actions.sell(type='submit')
                        i.material-icons.green-text shopping_basket
  .row
    .col.s12.l6.offset-l3
      ul.collection
        li.collection-item.avatar
          span.title Bun
          
          .secondary-content(href='#!')
            p.price
              | $80
        li.collection-item.avatar
          span.title Title
          p
            | First Line 
            br
            |          Second Line
          a.secondary-content(href='#!')
            
        li.collection-item.avatar
          
          span.title Title
          span.title.right $80
          p.indent
            i.material-icons info_outline
            span  Quantity :
              span  5
          p.indent
            i.material-icons info_outline
            span  Amount Sold :
              span  5
          p.indent
            i.material-icons info_outline
            span  Total Sold :
              span  5
          
          
            
          


          a.secondary-content(href='#!')
            
        li.collection-item.avatar
          
          span.title Title
          p
            | First Line 
            br
            |          Second Line
          a.secondary-content(href='#!')
            i.material-icons grade


  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
  script(src="/javascripts/itemlist.js")
    



