extends layout

block content
  h1= title
  div.biglist
    each  item, i  in  item_list
     div(id=itemlist class="item-" + (i+1))
      |  #{item.name} Quantity: #{item.quantity} #{item.price}
      input(type="hidden" class="namedelete-" + (i+1) value=item._id)
      button.btn.btn-primary(type='submit' class="delete-" + (i+1)) Delete
      
      
      
      
  

     