extends layout

block content
  h1=title
  a.btn-floating.btn-large.waves-effect.waves-light.middle-left.highlight-bg.white-text(href="/inventory/item/create" id="menu" style="display:none")
    i.material-icons.white-text add
  div.tap-target(data-activate="menu")
    div.tap-target-content
      h5
        | ok
      p
        | ok
  .row
    .col.s12.l12.m12
      ul.collection
        each order,i  in orders
          if  order.ready!=true
            li.collection-item.avatar.consumer-list
              button.waves-effect.waves-light.btn.link-list.order-ready.blue.btn__cart__width__90
                i.material-icons.left.white-text check
                input(type="hidden", name="_id"  class="order_id" value=order._id)
                input(type="hidden",name="item_id" class="item_id" value=order.item_id)
                input(type="hidden", name="qty" class="qtyp" value=order.quantity_purchased)
                | READY
              span.title Order from #{order.user_name}
              span.title.right.price.highlight-color
              p.cart-indent
                i.material-icons info_outline
                span  Item Name :
                  span.quan #{order.item_name} 
              p.cart-indent
                i.material-icons info_outline
                span  Amount Ordered :
                  span.quan #{order.quantity_purchased} 
              p.cart-indent
                i.material-icons attach_money
                span  Amount Due :
                  span.quan $#{order.total}
            
              



  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
  script(src="/javascripts/itemlist.js")
    



