extends layout

block content
  - var expense=30000;
  h1 #{title}
  div.container
    .row
    .col.s12
      p.center-align.highlight-color
        strong  NB:Data for the current week is displayed ONLY on Fridays
      ul.tabs
        li.tab.col.s4.tooltipped(data-position="top" data-delay="50" data-tooltip="Weekly sales total")
          a.active(href='#test1') Weekly Sales Total
        li.tab.col.s4.tooltipped(data-position="top" data-delay="50" data-tooltip="Displays profit/loss for the week")
          a(href='#test2') Profit/Loss
        li.tab.col.s4.tooltipped(data-position="top" data-delay="50" data-tooltip="Visualizes gross profit&expenses for the week")
          a(href="#test3") Chart
        
    #test1.col.s12
     ul.collection
      each foo,i in wklySales
        li.collection-item.white.list-data
          div.week.highlight-color
            span.weekdate
              | #{foo.date}

            div.secondary-content(href='#!').highlight-color
              | $#{foo.amount}.00

              
          
    #test2.col.s12
      ul.collection
        each profit,i in wklySales
          li.collection-item.white.list-data
            div.gross.highlight-color
              span.date #{profit.date} 
              span.profit 
                | $#{profit.gross_profit.profit}.00
              span.percentage(data-badge-caption=profit.gross_profit.percentage).badge
    #test3.col.s12
      canvas#canvas
     
    

    
  

    
        
